{% extends "base.html" %}
{% block title %}
    {% if modo_edicion %}Editar Usuario{% else %}Crear Usuario{% endif %}
{% endblock %}


{% block content %}
<div class="container mt-5" style="max-width: 600px;">
<h1 class="text-dark mb-4">
    {% if modo_edicion %}Editar Usuario{% else %}Crear Usuario{% endif %} 
</h1>

<form action="" method="post" class="p-4 border rounded shadow-sm bg-light">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-4 text-center">
        <button type="submit" class="btn btn-success btn-lg">💾 Guardar</button>
        <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary btn-lg ms-2">↩️ Volver</a>
    </div>
</form>
</div>
{% endblock %}
